body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    padding: 20px 20px;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 16px;
}

input[type="text"], input[type="url"], textarea{
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input[type="url"] {
    font-size: smaller;
}

.btn, button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.btn {
    background-color: #ddd;
    color: #333;
    margin-right: 10px;
}

a {
    text-decoration: none;
    /* color: #3498db; */
    font-size: 18px;
}

button {
    background-color: #4CAF50;
    color: #fff;
}

.button_edit, .button_delete, .button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button_edit {
    background-color: #115ec3;
}

.button_edit:hover {
    background-color: #006eff;
}

.button_delete {
    background-color: #b12a2a;
}

.button_delete:hover {
    background-color: #ff0000;
}

.button {
    background-color: transparent;
    border: 2px solid #3498db;
    color: #3498db;
}

.button:hover {
    background-color: #3498db;
    color: white;
}

.form-check {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.form-check > div {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 10px;
}

.form-check-label {
    font-size: 14px;
    color: #333;
}

