body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.list {
    list-style-type: none;
    padding: 0;
    width: 200px;
    margin: 0 auto;
}

.list li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 20px auto;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-tags{
    background-color:black;
}

.button_edit, .button_delete, .button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button_edit {
    background-color: #115ec3;
}

.button_edit:hover {
    background-color: #006eff;
}

.button_delete {
    background-color: #b12a2a;
}

.button_delete:hover {
    background-color: #ff0000;
}

.button {
    background-color: transparent;
    border: 2px solid #3498db;
    color: #3498db;
}

.button:hover {
    background-color: #3498db;
    color: #fff;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.5em;
    font-size: 80%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #007bff;
}
