<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/details.css" />
    <title>{{user.id}}</title>
</head>

<body>
    <h1>{{ post.title }}</h1>
    <div class="user-info">
        <p>Delete {{ post.title }} By {{user.get_full_name()}}</p>
        <form action="/posts/{{post.id}}/delete" method="post">
            <button>Yes</button>
        </form>
        <p>or</p>
        <form action="/posts/{{post.id}}">
            <button>No</button>
        </form>
        <!-- <div class="button_div">
            <button class="button_edit">
                <a href="/users/{{user.id}}/edit">Edit</a>
            </button>
            <button class="button_delete">
                <a href="/users/{{user.id}}/delete">Delete</a>
            </button>
        </div> -->
    </div>

    <a class="btn" href="/">Home</a>
</body>

</html>